<div class="author-profile">
  <img src="{{ site.author.avatar }}" alt="Profile Photo" width="100">
  <h2>{{ site.author.name }}</h2>
  <p>{{ site.author.bio }}</p>
  <p>📍 {{ site.author.location }}</p>
  <p>📧 <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>

  <p>
    <a href="{{ site.author.google_scholar }}" target="_blank">
      <i class="fas fa-graduation-cap"></i> Google Scholar
    </a> |
    <a href="https://github.com/{{ site.author.github }}" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a> |
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
      <i class="fab fa-twitter"></i> Twitter
    </a> |
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  </p>
</div>

